UC Merced
Proceedings of the Annual Meeting of the Cognitive Science
Society
Title
Constraints on Bayesian Explanation
Permalink
https://escholarship.org/uc/item/2sf1p3qd
Journal
Proceedings of the Annual Meeting of the Cognitive Science Society, 35(35)
Authors
Kwisthout, Johan
Van Rooij, Iris
Colombo, Matteo
et al.
Publication Date
2013-01-01
Peer reviewed
 eScholarship.org                                 Powered by the California Digital Library
                                                                    University of California

                                          Constraints on Bayesian Explanation
    Johan Kwisthout (j.kwisthout@donders.ru.nl), Iris van Rooij (i.vanrooij@donders.ru.nl) [moderator]
                       Radboud University Nijmegen, Donders Institute for Brain, Cognition and Behaviour
                                         Montessorilaan 3, 6525 HR Nijmegen, The Netherlands
                                               Matteo Colombo (m.colombo@uvt.nl)
                                 Tilburg Center for Logic and Philosophy of Science, Tilburg University
                                             PO Box 90153, 5000 LE Tilburg, The Netherlands
                                                  Carlos Zednik (czednik@uos.de)
                                          Institute of Cognitive Science, University of Osnabrück
                                                        49069 Osnabrück, Germany
                                           William A. Phillips (w.a.phillips@stir.ac.uk)
                                             University of Stirling, School of Natural Sciences
                                                       Stirling FK9 4LA Scotland, UK,
                                           and Frankfurt Institute of Advanced Studies, Germany
   Keywords: Bayesian inference, levels of explanation,                 science, cognitive neuroscience, information theory,
   constraints, tractability, coherent infomax, computational           machine learning, and theoretical computer science.
   complexity, unification, philosophy of science
                                                                             A complexity-theoretic perspective on the
                          Introduction
                                                                               preconditions for Bayesian tractability
The hypothesis that human cognition may be well
characterized as a set of Bayesian computations has been the                Johan Kwisthout (joint work with Iris van Rooij)
topic of considerable debate over the last two decades.                 Many Bayesian computations have been proven to be
Recently, critics have argued that this hypothesis is either            computationally intractable (NP-hard) for unconstrained
unlikely to be true or otherwise too unconstrained to be                input domains, even if only an approximate solution is
particularly useful for explaining cognition (e.g., Bowers &            sought. Informally, this means that computations postulated
Davis, 2012), whereas proponents have defended their                    by Bayesian models can take astronomical amounts of time
position by stating that the Bayesian perspective has been              for their completion even for realistic sized inputs. This
misunderstood, is not necessarily in conflict with other                property seems to be in strong contrast with the ease and
perspectives on cognition, and can still be explanatorily               speed with which humans can typically make the inferences
useful as a framework for cognitive science even if under-              that are modeled by Bayesian models. Some critics of the
constrained in many ways (e.g., Griffiths, Chater, Norris, &            Bayesian approach have taken this property of Bayesian
Pouget, 2012). Our position in this debate is that both sides           models as a reason to reject the entire approach (e.g.,
of this debate may be right as well as wrong: Proponents                Gigerenzer, 2008). In contrast, I propose that it means that
may be right that the Bayesian perspective has something                tractability forms a useful constraint on Bayesian
uniquely useful to bring to cognitive science (and then the             explanations of cognition. In this talk, I will elucidate the
critics are wrong in their denial of this); yet, the critics may        use of complexity-theoretic concepts and techniques for
be right that cognitive theories are explanatorily useful only          making Bayesian models meet the tractability constraint,
if properly constrained (and then proponents are wrong in               building on known results from theoretical computer science
their denial of this).                                                  (e.g., Kwisthout, 2011). I will furthermore report on recent
   With this perspective in mind, we wish to move the                   complexity results that have lead to novel hypotheses about
debate forward in a constructive way by bringing in new                 the conditions under which Bayesian inferences can be
perspectives and proposing novel constraints that can be                tractably approximated (Kwisthout & van Rooij, 2013).
exploited for purposes of improving the explanatory values
and virtues of Bayesian explanations of cognition.                          Bayesian cognitive science, unification, and
Specifically, with this symposium we aim to focus on how
                                                                                               explanation
constraints on Bayesian explanations can be exploited in
ways that are yet underrepresented and underexplored.                     Matteo Colombo (joint work with Stephan Hartmann)
   The symposium brings together researchers from various               A recurrent claim is that the greatest value of studying
disciplines, contributing a variety of perspectives on how              cognitive phenomena such as perception, action,
Bayesian explanations can be fruitfully constrained, drawing            categorization, and decision-making, within the Bayesian
on theories, analyses, and results from philosophy of                   framework consists in its unifying power. Several Bayesian
                                                                     87

cognitive scientists, however, implicitly assume that               probabilities given only what is known. Second, Jaynes’s
unification is obviously linked to explanatory power. But           desiderata can only be met in simple cases. Third, contextual
this link is not obvious (e.g., Morrison, 2000).                    modulation operates via likelihoods, not priors (Kay &
     A crucial feature of adequate explanations in the              Phillips, 2010). Fourth, inferences are the common currency
cognitive sciences is that they reveal aspects of the causal        of feed-forward transmission, not prediction errors. Fifth,
structure of the mechanism that produces the phenomenon             modulatory interactions within hierarchical levels are at
to be explained. The kind of unification afforded by the            least as crucial as those between levels.
Bayesian framework to cognitive science does not                      I will also note that, in addition to the constraints imposed
necessarily reveal the causal structure of a mechanism (cf.         by Jaynes’s desiderata, the use of prior event frequency is
Colombo & Seriès, 2012). Bayesian unification is the                constrained by the curse-of-dimensionality. It becomes
product of the mathematics rather than of a causal                  rapidly less useful as dimensionality of the event space
hypothesis concerning how different cognitive phenomena             increases because the number of possible locations within it
are brought about by a single type of mechanism.                    then increases exponentially.
Nonetheless, Bayesian unification can place fruitful                  Finally, I will briefly outline the possibility that functional
constraints on causal mechanical explanation, which will be         specializations combined with various cellular and local-
elucidated in this talk.                                            circuit mechanisms for context-sensitive gain-control have
                                                                    evolved within mammalian cortex to restrict the problems to
    Bayesian modeling and heuristic strategies                      be solved by neuronal inference to what is feasible within the
                  for model-development                             above constraints, as formulated using information theoretic
                                                                    concepts in the theory of coherent infomax (Phillips, 2012).
        Carlos Zednik (joint work with Frank Jäkel)
It is generally agreed that Bayesian models in cognitive                                      References
science operate at Marr’s computational level of analysis
(Marr, 1982). Unfortunately, it remains unclear exactly how         Bowers, J.S., & Davis, C.J. (2012). Bayesian just-so stories
the computational, algorithmic, and implementation levels              in psychology and neuroscience. Psychological Bulletin,
are related.                                                           138(3), 389–414.
   This talk explicates inter-level relationships in terms of       Colombo, M., & Seriès, P. (2012). Bayes in the brain. On
heuristic strategies for model-development (Zednik, in                 Bayesian modelling in neuroscience. The British Journal
press). Specifically, Bayesian computational-level models              for Philosophy of Science, 63, 697–723.
play the heuristic role of suggesting possible algorithms to        Griffiths T., Chater N., Norris D., & Pouget A. (2012). How
compute a particular function, and of suggesting particular            the Bayesians got their beliefs (and what those beliefs
ways of delineating and interpreting the components of a               actually are). Psychological Bulletin, 138(3), 415–422.
physical mechanism. In turn, algorithmic and mechanistic            Gigerenzer, G. (2008). Why heuristics work. Perspectives in
models specify memory, time, and resource limitations that             Psychological Science 3(1), 20–29.
constrain the cognitive tasks described by Bayesian models.         Jaynes, E.T. (1998/2003). Probability theory: The logic of
In contrast to the view that Bayesian computational-level              science. Oxford: Oxford University Press.
modeling is independent of low-level considerations, on this        Kay, J., & Phillips, W.A. (2010). Coherent infomax as a
view the development of Bayesian models is constrained by,             computational goal for neural systems. Bulletin of
and at the same time itself constrains, the development of             Mathematical Biology, 73, 344–372.
models at lower levels of analysis.                                 Kwisthout, J. (2011). Most probable explanations in
                                                                       Bayesian networks: Complexity and tractability.
    Neuronal inference from the perspective of                         International Journal of Approximate Reasoning, 52(9),
   Jaynes’s probability theory and the coherent                        1452–1469.
                     infomax objective                              Kwisthout, J., & van Rooij, I. (2013). Bridging the gap
                                                                       between theory and practice of approximate Bayesian
                      William A. Phillips                              inference. Cognitive Systems Research, 24, 2–8.
                                                                    Marr, D. (1982). Vision. New York: Henry Holt & Co.
In support of the ‘Bayesian’ perspective on cognition, I will       Morrison, M. (2000). Unifying scientific theories,
agree that the adaptively organized complexity of life, and
                                                                       Cambridge: Cambridge University Press.
particularly mental life, depends on inductive inference. I will    Phillips, W.A. (2012). Self-organized complexity and
put five major caveats on this support, however. First, this           Coherent Infomax from the viewpoint of Jaynes’s
perspective should be based not on Bayes theorem alone but
                                                                       probability theory. Information, 3(1), 1–15.
on the logic of probability theory as developed most                Zednik, C. (in press). Heuristics, descriptions, and the scope
rigorously and extensively by the statistical physicist Edwin          of mechanistic explanation. In C. Malaterre & P-A.
T. Jaynes (1998/2003). Interpreting probabilities as                   Braillard (Eds.), How does biology explain? An enquiry
quantifying uncertainty he showed that optimal inference               into the diversity of explanatory patterns in the life
rests on a few requirements, or ‘desiderata’, and he developed
                                                                       sciences. Springer.
maximum entropy methods for justifiably allocating prior
                                                                 88

