UC Merced
Proceedings of the Annual Meeting of the Cognitive Science
Society
Title
Speaking about software requirements using physical artifacts: A study from a situated
cognition perspective

Permalink
https://escholarship.org/uc/item/67f7b5t4

Journal
Proceedings of the Annual Meeting of the Cognitive Science Society, 33(33)

Authors
Binti Abdullah, Nik Nailah
Hausmann, Robert G.M.

Publication Date
2011-01-01
Peer reviewed

eScholarship.org

Powered by the California Digital Library
University of California

Speaking about software requirements using physical artifacts: A study
from a situated cognition perspective
Nik Nailah Binti Abdullah
Advanced Analysis and Modeling Cluster, Mimos Berhad, Technology Park Malaysia, 5700 Kuala
Lumpur, Malaysia

Robert G.M Hausmann
Carnegie Learning Inc, Frick Building, 437 Grant Street, Pittsburgh, PA 15219, USA
Abstract: In this paper, we report our ethnographically-informed study of a software development team using
Agile software development methods in an industry. An Agile team relies on the use of simple artifacts, such as the
story cards and the wall to communicate software requirements with one another. However little is known how the
simple artifacts support this communication practice. Hence, we wanted to study how the physical artifacts are used
among team members to communicate their software requirements. We used situated cognition to provide us with
an analytic view of speaking (i.e., story recollection). We found that in every one of the recollection processes, the
team members were occupied with reconstructing specific details from the events in developing the story card. The
team members were engaged together in this reconstruction to make their situated context coherent.

3049

