UC Merced
Proceedings of the Annual Meeting of the Cognitive Science
Society
Title
Accounting for Pause Patterns in Writing: Integrating Strategies and Processing
Requirements in a Cognitive Architecture

Permalink
https://escholarship.org/uc/item/0r52m7p3

Journal
Proceedings of the Annual Meeting of the Cognitive Science Society, 31(31)

Authors
Barone, Rossano
Cheng, Peter

Publication Date
2009-01-01
Peer reviewed

eScholarship.org

Powered by the California Digital Library
University of California

Accounting for Pause Patterns in Writing: Integrating Strategies and
Processing Requirements in a Cognitive Architecture
Rossano Barone
University of Sussex

Peter Cheng
University of Sussex
Abstract: Research suggests that writing is a complex multilevel activity involving the temporal coordination
of many different processes (e.g. syntactic, semantic, phonological, spelling, graphomotor, visual and spatial) but
computational models that adequately integrate these levels appear to be absent in the research literature. The
presentation outlines research in progress on modelling writing within the ACT-R framework. Several classes of
empirical phenomena are specified and used to constrain an instantiation of the underlying knowledge, processing
operations and architectural requirements for modelling writing. Models are reported of a study in which pauses
between concurrent letters depended on whether they shared the same grapheme, word or phrase (e.g. Cheng &
Rojas-Anaya 2006). The models explain these effects through a combination of processing requirements and control
strategies and highlight the importance of control strategies in cognitive accounts of writing. Limitations of the
models, questions raised and the theoretical utility of the approach are also presented.

3242

