UC Merced
Proceedings of the Annual Meeting of the Cognitive Science
Society
Title
Requirements for Predicting the Impact of Fatigue on Human Behavior

Permalink
https://escholarship.org/uc/item/7tp7x8m9

Journal
Proceedings of the Annual Meeting of the Cognitive Science Society, 36(36)

Author
Gunzelman, Glenn

Publication Date
2014-01-01
Peer reviewed

eScholarship.org

Powered by the California Digital Library
University of California

Requirements for Predicting the Impact of Fatigue on Human Behavior
Glenn Gunzelmann (glenn.gunzelmann@us.af.mil)
Air Force Research Laboratory, 2620 Q Street, Building 852
Wright-Patterson AFB, OH 45433
performance. In practical terms, fatigue creates risk in many
real-world contexts, and the consequences of fatigue-related
errors and accidents are staggering. As a result,
understanding the effects of sleep and circadian rhythms on
the human cognitive system is a fundamental challenge for
cognitive science, while the ability to accurately predict
those effects would have substantial applied benefits. These
are challenges addressed in this research by satisfying the
requirements listed in Table 1, and discussed in this section.

Abstract
This paper provides an overview of an approach to
developing computational models of fatigue, which has been
used to develop detailed accounts of laboratory phenomena,
and to make a priori predictions in more naturalistic tasks.
The research has led to novel theories and mechanisms that
help to build bridges between integrated theories of human
cognition from cognitive science and theoretical and
mathematical research on sleep and fatigue. Moreover, this
research lays the foundation for new technologies to help
mitigate fatigue risk in applied settings.

Requirement #1: A Quantitative Theory of the
Components of Cognition

Keywords: Sleep; Circadian Rhythm; Prediction; Integrated
Theory; Fatigue

Introduction
This paper describes research conducted by me and my
collaborators to develop computational mechanisms to
account for the impact of sleep loss and circadian rhythms
on human cognition. We have described novel theories to
explain the influence of these factors (e.g., Gunzelmann,
Gluck, Moore, & Dinges, 2012; Gunzelmann, Gross, Gluck,
& Dinges, 2009), and have presented models that make a
priori predictions of performance both in laboratory tasks
(Gunzelmann, Byrne, Gluck, & Moore, 2009), and in more
naturalistic task contexts (e.g., Gunzelmann & Gluck, 2009;
Gunzelmann, Moore, Salvucci, & Gluck, 2011). In addition,
we have proposed a set of requirements for creating theories
that are useful for making task-specific predictions about the
impact of sleep loss that are useful in applied settings (Table
1; Gunzelmann et al., 2011; Jackson et al., 2013).
Table 1. Requirements for making task-specific predictions
about performance degradations associated with sleep loss.
Requirements
1 A quantitative theory of the components of cognition
and their interactions
2 An understanding of how the components of cognition
are engaged in the performance of a particular task
3 A model of the temporal dynamics of sleep loss and
circadian rhythms
4 Mechanisms to explain how the temporal dynamics of
fatigue affect specific information processing
mechanisms

Requirements for Predicting the Impact of
Sleep Loss on Cognitive Behavior
Research on sleep loss and fatigue is important for both
theoretical and practical reasons. In theoretical terms, sleep
and circadian rhythms are fundamental aspects of human
experience, and have well-established impacts on cognitive

This requirement is satisfied by using the Adaptive Control
of Thought – Rational (ACT-R) cognitive architecture, an
integrated theory of human cognition that has been
implemented in software (Anderson, 2007). Through
simulation, ACT-R demonstrates a capacity to replicate
important aspects of human information processing and
behavior. Of course, ACT-R is but one example of an
integrative theory, and it would be possible to adapt our
mechanisms and integrate them into alternative theories of
the human mind. The main points, however, are that having
such a theory is necessary for the research we have done,
and that using an existing theory strengthens the theoretical
foundations and facilitates progress.

Requirement #2: How the Components of
Cognition Are Engaged in Task Performance
Developing models to account for human performance is
common in cognitive science. In ACT-R and other
frameworks and architectures, computational mechanisms
and constraints are combined with task knowledge to define
a model, which has the capacity to simulate human behavior
in a particular task. As the model does the task, it produces
behavioral traces that can be compared directly to human
performance data from the same task. However, models also
produce traces of the information processing activity that
generated the performance data. So, to the extent that a
model’s behavior corresponds to human performance, it is
possible to make assertions about how different components
of the cognitive system are engaged in task performance.

Requirement #3: Temporal Dynamics of Sleep Loss
and Circadian Rhythms
It is well established that sleep deprivation leads to impaired
performance across a broad range of tasks in basic and
applied domains (e.g., Goel, Rao, Durmer, & Dinges, 2005).
A major focus of the field has been on developing tools to
reduce the risk of errors and accidents in applied settings, in
addition to understanding how and why such errors occur.

1862

Mathematical models have been developed to address these
issues (e.g., McCauley et al., 2009). These models produce
an estimate of cognitive functioning, or alertness, which
represents the interacting influences of the sleep and
circadian systems on overall cognition performance.

Requirement #4: Temporal Dynamics Linked to
Specific Information Processing Mechanisms
Models developed in ACT-R rely on the coordinated
interaction of multiple modules to produce behavior in
particular task contexts. Thus, to understand how cognition
and behavior will change in a task under the pressure of
cognitive moderators like decreased alertness, it is necessary
to understand how the efficiency and effectiveness of the
information processing in each of the components will be
altered as a result of the overall fluctuations in the cognitive
system. This has been the focus of our research, leading to
quantitative mechanisms that specify the relationships
between alertness and cognitive activity and performance.

Conclusion
The research described here has produced theories that
explain the impact of sleep loss and circadian rhythms on
cognitive performance. A critical theme is the extent to
which existing theories have been leveraged to implement
more integrated and comprehensive accounts of the
influence of the sleep and circadian systems on human
performance. This demonstrates how cognitive science can
cumulate to provide more detailed and comprehensive
accounts of human cognition and behavior.
At a theoretical level, the contributions serve to extend
existing integrated theories of human cognition, and to
provide more detailed accounts of the relationship between
fatigue and cognitive performance. Mechanisms have been
proposed for procedural knowledge selection and execution
(e.g., Gunzelmann, Gross, et al., 2009), including individual
differences (Gunzelmann, Moore, Gluck, Van Dongen, &
Dinges, 2009) and time on task effects (Gunzelmann,
Moore, Gluck, Van Dongen, & Dinges, 2010). We have also
studied the effects of sleep deprivation on the use of
previously acquired declarative knowledge (Gunzelmann et
al., 2012) and the acquisition of new declarative knowledge
(Halverson, Gunzelmann, Moore, & Van Dongen, 2010).
From a practical perspective, we have shown the capacity
to use the mechanisms to make a priori predictions in novel
tasks, ranging from simple dual-task contexts (Gunzelmann,
Byrne, et al., 2009) to driving (Gunzelmann et al., 2011) and
flying (Gunzelmann & Gluck, 2009). Collectively, this
research answers questions about the impact of sleep loss on
different components of cognition, and illustrates how to
predict changes in real-world behavior.

Acknowledgments
The views expressed in this paper are those of the author
and do not reflect the official policy or position of the
Department of Defense or the U.S. Government.

References
Anderson, J. R. (2007). How can the human mind occur in
the physical universe? New York: Oxford University
Press.
Goel, N., Rao, H., Durmer, J. S., & Dinges, D. F. (2005).
Neurocognitive consequences of sleep deprivation.
Seminars in Neurology, 25(1), 320–339.
Gunzelmann, G., Byrne, M. D., Gluck, K. A., & Moore, L.
R. (2009). Using computational cognitive modeling to
predict dual-task performance with sleep deprivation.
Human Factors, 51(2), 251-260.
Gunzelmann, G., & Gluck, K. A. (2009). An Integrative
approach to understanding and predicting the
consequences of fatigue on cognitive performance.
Cognitive Technology, 14(1), 14-25.
Gunzelmann, G., Gluck, K. A., Moore, L. R., & Dinges, D.
F. (2012). Diminished access to declarative knowledge
with sleep deprivation. Cognitive Systems Research,
13(1), 1-11.
Gunzelmann, G., Gross, J. B., Gluck, K. A., & Dinges, D. F.
(2009). Sleep deprivation and sustained attention
performance: Integrating mathematical and cognitive
modeling. Cognitive Science, 33(5), 880-910.
Gunzelmann, G., Moore, L. R., Gluck, K. A., Van Dongen,
H. P. A., & Dinges, D. F. (2009). Examining sources of
individual variation in sustained attention. In N. Taatgen,
& H. van Rijn (Eds.), Proceedings of the Thirty-First
Annual Meeting of the Cognitive Science Society (pp.
608-613). Austin, TX: Cognitive Science Society.
Gunzelmann, G., Moore, L. R., Gluck, K. A., Van Dongen,
H. P. A., & Dinges, D. F. (2010). Fatigue in sustained
attention: Generalizing mechanisms for time awake to
time on task. In P. L. Ackerman (Ed.), Cognitive Fatigue:
Multidisciplinary Perspectives on Current Research and
Future Applications (pp. 83-96). Washington, DC:
American Psychological Association.
Gunzelmann, G., Moore, L. R., Salvucci, D. D., & Gluck,
K. A. (2011). Sleep loss and driver performance:
Quantitative predictions with zero free parameters.
Cognitive Systems Research, 12(2), 154-163.
Halverson, T., Gunzelmann, G., Moore, L. R., & Van
Dongen, H. P. A. (2010). Modeling the effects of work
shift on learning in a mental orientation and rotation task.
In D. D. Salvucci & G. Gunzelmann (Eds.), Proceedings
of the 10th International Conference on Cognitive
Modeling (pp. 79-84). Philadelphia, PA: Drexel
University.
Jackson, M. L., Gunzelmann, G., Whitney, P., Hinson, J.
M., Belenky, G., Rabat, A., & Van Dongen, H. P. A.
(2013). Deconstructing and reconstructing cognitive
performance in sleep deprivation. Sleep Medicine
Reviews, 17, 215-225.
McCauley, P., Kalachev, L. V, Smith, A. D., Belenky, G.,
Dinges, D. F., & Van Dongen, H. P. A. (2009). A new
mathematical model for the homeostatic effects of sleep
loss on neurobehavioral performance. Journal of
Theoretical Biology, 256(2), 227–239.

1863

