UC Merced
Proceedings of the Annual Meeting of the Cognitive Science
Society
Title
Constraints on Immediate Memory for Prosody: Evidence of a Correspondence with the
Prosodic Organization of Speech
Permalink
https://escholarship.org/uc/item/2wq1j75n
Journal
Proceedings of the Annual Meeting of the Cognitive Science Society, 27(27)
Authors
Boucher, Victor J.
Gilbert, Annie C.
Publication Date
2005-01-01
Peer reviewed
 eScholarship.org                                 Powered by the California Digital Library
                                                                    University of California

                                 Constraints on Immediate Memory for Prosody:
            Evidence of a Correspondence with the Prosodic Organization of Speech
                                 Victor J. Boucher (http://www.ling.umontreal.ca/phonetique/)
                                     Laboratoire de sciences phonétiques, Département de linguistique
                                                      Université de Montréal, C.P. 6128
                                                        Montréal, QC H3C 3J7 Canada
                                          Annie C. Gilbert (annie.gilbert@umontreal.ca)
                                     Laboratoire de sciences phonétiques, Département de linguistique
                                                      Université de Montréal, C.P. 6128
                                                         Montréal, QC H3C 3J7 Cana
                               Abstract                                  prosodic patterns in meaningful speech. The present report
   This study investigates the correspondence between memory of
                                                                         addresses this hypothesized correspondence by focusing on
   stress rhythms in the context of a serial recall task and the         stress. Both experiments in this summary refer to French,
   organization of stress patterns in meaningful utterances. French      where stress is not determined by the lexical code (as in
   speakers’ (n = 40) reproduction of stress patterns in recalling       English) and defines the endpoints of stress groups that vary
   series of syllables with stress groups of differing size shows a      in size (equivalent to phonological words, in this case).
   floor effect for groups that exceed four syllables. A second
   experiment where the Ss (n = 39) produced utterances with                  Experiments 1: memory for stress groups
   phrases of differing length indicates a strong tendency to insert
   stress marks in phrases that exceed four syllables. Taken
   together, the findings provide an initial demonstration that          Subjects Forty native speakers of French served as subjects.
   memory for prosodic patterns can be an organizational factor of       All reported no history of speech or hearing problems.
   prosody in speech.
                                                                         Stimuli and procedure The stimuli consisted of assembled
   Keywords: speech prosody; memory                                      series of seven, monotone nonsense syllables (e.g.
                                                                         /pido’gatube’ky/). There were two sets of stimuli. The first
                           Introduction                                  set comprised series where one stressed syllable was placed at
   Learning a language, as an adult or as a child, implies               varying points within the list so as to create groups of one to
memory for series of speech sounds that are prosodically                 six syllables (rhythms of 1:6, 2:5, 3:4, 4:3 etc.). The duration
organized. Prosody can induce grouping effects on serial                 ratio of stressed to non-stressed syllables was 1.7, which is
recall (Frankish, 1995; Reeves, Schmauder, & Morris, 2000),              representative of French speech. A second set of stimuli
and thus appears to provide frameworks that facilitate the               included series with no stress marks (i.e., “ungrouped”
learning of novel series of speech sounds constituting new               series). To ensure the perception of stress rhythms, stressed
words and expressions. This is supported by a number of                  and non-stressed syllables were arranged in terms of P-Center
studies showing that children’s ability to imitate prosody               intervals (Marcus, 1981). Three ungrouped series were
                                                                         presented before 12, randomized, grouped series. These series
correlates with vocabulary growth (see Baddeley, Gathercole,
                                                                         were delivered over a loudspeaker (73 dBA at the subjects’
& Papagno, 1998). That prosody can become engrained in the
                                                                         ears). Though the test requested that the subjects (n = 40)
process of recalling novel series may account for the common             recall the heard series, stress patterns were also recalled.
behavior of producing prosody in remembering lists of digits
such as phone numbers. A significant aspect of this behavior             Results
is that series of numbers bear no syntactic structure. In this           Acoustic analyses of duration increases marking stress
case, it is the memorization process as such that appears to be          showed that reproduction of list-initial groups reached a floor
the source of prosodic grouping. Yet the role of memory                  level for units exceeding four syllables (see Figure 1).
processes on the organization of speech prosody has not been             Moreover, by comparison to serial recall of ungrouped series
explored, and may appear to lack relevance. How, in fact,                (baseline), it was found that stress-groupings of more than
would imitation of prosody in the context of recalling novel             four syllables had no beneficial effect on serial recall.
speech material relate to prosodic structure in meaningful
speech? There is a rationale for supposing such link in that                     Experiment 2: stress groups in speech
any restriction on the imitation or reproduction of prosody              Studies have reported a cross-language tendency to limit
could, potentially, contribute to reinforce a given set of               stress intervals in speech to four syllables (Dauer, 1983). The
patterns in speech. By this principle, limited reproducibility of        aim of Experiment 2 was to verify whether this tendency
stress rhythms and intonation contours in recalling                      could predict stress marks in test utterances.
meaningless speech may well correspond to limits on
                                                                     328

Subjects All but one of the 40 participants in Experiment 1                                              However, the paradigms used in such investigations (typically
served as subjects in Experiment 2.                                                                      involving written recall of series containing repetitive groups
                                                                                                         of three) provide no basis for extrapolation to speech. In this
Stimuli and procedure. A set of 10 French sentences was                                                  respect, critics have, justifiably, questioned the relevance of
used containing noun and verb-complement phrases of                                                      list-recall tasks in understanding speech processes (Van der
varying length (2 to 5 syllables). All phrases had an internal                                           Linden & Poncelet, 1998). The above results provide an
word boundary allowing for optional group stress. These                                                  initial demonstration of the relevance of memory processes in
sentences were presented in large characters on a computer                                               understanding the organization of speech prosody and its role.
monitor. Subjects were asked to first read a presented                                                   It should also be noted that, while the above results refer to a
sentence out loud and then say the sentences by humming the                                              tendency to restrict stress patterns in French to units of four,
syllables.                                                                                               similar tendencies have been reported for other languages
                                                                                                         including English (Dauer, 1983 among others). There are
Results                                                                                                  theoretical implications for psychological and linguistic
Analyses of the durational changes in the hummed utterances                                              models that do not consider that memory processes bearing
indicated a strong tendency to produce a phrase-internal stress                                          on the reproducibility of tonal and rhythmic frameworks can
when the phrase exceeded four syllables. For instance, the                                               contribute to the prosodic organization of utterances and
proper noun Marie was most often non-stressed in:                                                        issues bearing on a language learning device. For instance,
               “Marie-Paul part mecredi matin”                                                           linguistic models assume that syntax underlies the
but was generally stressed in:                                                                           organization of prosody. However, prosodic patterns appear
             “Marie-Antoinette part mecredi matin”                                                       in child speech before syntax and constitute the most easily
so as to create a stress-group that does not exceed four                                                 learned and generalizing aspects of speech. It is also clear in
syllables.                                                                                               the literature that these patterns assist serial memory that is
    Figure 1 is an overlay of the results of subjects’ recall of                                         required in learning new words and expressions.
stress groups (Experiment 1) and production of stress groups
in meaningful phrases (Experiment 2) as a function of                                                    Prospective
number of syllables in the groups. The similar relationship, as                                             Prosody presents a hierarchical organization: intonational
illustrated, suggests that both memory for stress groups and                                             (pitch) contours can encompass a number of stress groups or
the production of stress groups in speech tend to be limited by                                          intervals, which in turn can subsume a number of syllables.
the same syllable-count.                                                                                 Research by the present authors shows that different
                                                                                                         constraints apply on the reproducibility of stress rhythms and
                                                                                                         pitch contours: whereas reproduction of stress rhythms
                                   Stress in speech, Experiment 2                                        reaches an average upper-limit of four syllables, results
                                   Stress recall, Experiment 1                                           suggest that the reproduction of pitch contours has an mean
                     100                                            100                                  upper-limit of 7-8 syllables (Gilbert & Boucher, 2005).
                                                                                                         These constraints on reproducibility are reflected in
                                                                                                         meaningful speech and determine prosodic patterns regardless
                                                                          % production in speech
                                                                    80                                   of morpho-syntactic boundaries For instance, subject noun
                      80                                                                                 phrases (NP) before a verb phrase (VP) are only marked by a
  % correct recall
                                                                                                         complete pitch contour when they are long. Length (or
                                                                    60                                   syllable count) thus constitutes a dominant factor. Such
                      60                                                                                 findings suggest that constraints on the reproducibility of
                                                                                                         prosodic patterns can underlie prosodic structure of
                                                                    40                                   meaningful speech.
                      40                                                                                                    Acknowledgments
                                                                    20
                                                                                                         Funding for this research was provided by Research Counsel
                                                                                                         of Canada (SSHRC).
                      20                                            0
                            2       3        4         5        6                                                                References
                                    Syllable count                                                       Baddeley, A. D., Gathercole, S., & Papagno, C. (1998). The
                                                                                                          phonological loop as a language learning device.
                                                                                                          Psychological Review, 105, 158-173.
                     Figure 1: Combined results, Experiments 1 and 2                                     Dauer, R. M. (1983). Stress-timing and syllable timing
                                                                                                          reanalyzed. Journal of Phonetics, 11, 51-62.
                            Discussion and conclusion                                                    Frankish, C. (1995). Intonation and auditory grouping in
Investigations of grouping effects induced by such aspects as                                             immediate serial recall. Applied Cognitive Psychology, 9,
pauses inserted in lists of digits or letters has led to                                                  S5-S22.
speculations on the role of prosody in language learning.                                                Gilbert, A. C., & Boucher, V. J. (2005). Size-constraints on
                                                                                                          intonation groups in speech : Evidence of an independent
                                                                                                   329

 syllable-count principle. Journal of the Acoustical Society      recall task. Journal of Experimental Psychology: Learning,
 of America, 117, 2458 (Abstract).                                Memory, and Cognition, 26, 1638-1654.
Marcus, S. M. (1981). Acoustic determinants of perceptual        Van der Linden, M., & Poncelet, M. (1998). The role of
 center (P-center) location. Perception & Psychophysics, 30,      working memory in language communication disorders. In
 247-256.                                                         B. Stemmer & H.A. Whitaker (Eds.), Handbook of
Reeves, C., Schmauder, A. R., & Morris, R. K. (2000). Stress      neurolinguistics (pp. 290-301). San Diego, CA : Academic
 grouping improves performance on an immediate serial list        Press.
                                                             330

